@model Employee

@{
    ViewData["Title"] = "Employee Create Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Employee Create Page</h1>
    <p>Hello.</p>
    <form asp-controller="Employee" asp-action="Add" method="post">
        <input asp-for="Name">
        <input asp-for="JoiningDate">
        <input asp-for="Gender">
    </form>
</div>
